body {
    background-image: url("/home/ubuntu/d-poviraeva.github.io/d-poviraeva.github.io/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
h1{color: red; text-align: center}
#fmf{color: green;}
.facs{background-color: yellow;}
