body {
    background-image: url('https://psv4.userapi.com/s/v1/d2/mIEWGhv-xS4cTuRuF-lHAbowF1jYH0wQbgDVNz7nFGJcFRKwbwwC7xVFSpaLEjpwN_55gu-TfznBF3rj9TS__SOhAspvuha9ieTrrdE43TM49VdZsUybrJ0TGsCv3AR1zxvGJcl-qc5v/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
header{
    position:absolute;
    top:0;
    left:;
    width:98%;

    padding:20px 0px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:14px;
    letter-spacing:1px;
}

/* ссылки */
header a{
    color:black;
    text-decoration:none;

    opacity:0.8;
    transition:0.2s;
}

header a:hover{
    opacity:1;
}

/* правая группа ссылок */
.right a{
    margin-left:25px;
}

.tree {
    position: absolute;
    top: 55%;
    right: 20%;
    width: auto;
    height: auto;
    z-index: 3;
}

.por {
    position: absolute;
  left: 30%;
  bottom: 0%;
  width: min(54vw, 980px);
  height: auto;
  z-index: 2;
}
