body {
    background-image: url('https://psv4.userapi.com/s/v1/d2/mIEWGhv-xS4cTuRuF-lHAbowF1jYH0wQbgDVNz7nFGJcFRKwbwwC7xVFSpaLEjpwN_55gu-TfznBF3rj9TS__SOhAspvuha9ieTrrdE43TM49VdZsUybrJ0TGsCv3AR1zxvGJcl-qc5v/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;

    padding:20px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:14px;
    letter-spacing:1px;
}

/* ссылки */
header a{
    color:black;
    text-decoration:none;

    opacity:0.8;
    transition:0.2s;
}

header a:hover{
    opacity:1;
}

/* правая группа ссылок */
.right a{
    margin-left:25px;
}

